html {
	color: #333;
	background: #fff;
	font: .9em Calibri, Arial, Helvetica, sans-serif;
}
body { margin: 0; }
h1 {
	margin: 0;
	color: #fff;
	background: #333;
	padding: .2em .5em;
	border-bottom: 1px solid #000;
}
h1 a {
	color: #fff !important;
	background: inherit;
	text-decoration: none;
}
h2 { border-bottom: 1px solid #ddd; }
h3.command {
	background: #09c;
	padding: .7em;
	color: #fff;
	cursor: help;
	letter-spacing: .1em;
	font: bold 1.2em "Courier New", Courier, monospace;
}
a { color: #06c; }
a:hover { color: #936; }
table { font-size: 1em; }
p.descr {
	margin: 1.5em;
	line-height: 1.5;
}
span.sub {
	color: #666;
	background: inherit;
}
p.descr span.sub:before { content: ">> "; }
table.params span.sub {
	font-size: .75em;
	margin-right: .5em;
}
div#contents {
	width: 12%;
	float: right;
	border-left: 1px dashed #ddd;
	padding-right: 2%;
	margin-top: 2em;
	overflow: auto;
	padding-left: 2%;
}
div#contents div { margin-left: 1em; }
div#contents ul {
	list-style: square;
	padding-left: 1em;
}
div#contents *:first-child { margin-top: 0; }
div#page {
	width: 80%;
	margin: 1.5%;
}
div#page > div:not(:target) { display: none; }
div#page > div:target { display: block; }
div.method {
	background: #fefefe;
	border: 1px solid #eee;
	margin-bottom: 2em;
	margin-left: 0.5em;
	padding: 1em;
}
div.method *:first-child { margin-top: 0; }
div#end {
	font-size: .9em;
	margin-top: 1em;
	border-top: 1px solid #000;
	padding: 1em;
	color: #fff;
	background: #666;
}
div#end a { color: #fff; }
span.vers {
	font-size: .6em;
	color: #ccc;
	padding-left: .3em;
}
table.params {
	font-size: 1em;
	margin-left: 3em;
}
table.params th {
	text-align: left;
	background: #eee;
	padding: .2em;
}
table.params td {
	vertical-align: top;
	padding: .2em 1em .2em .5em;
	background: #fff;
	border: 1px solid #f3f3f3;
}
table.params td:first-child { background: #f3f3f3 !important; }
table.params tr.returns td { background: #f3f3f3; }
table.params tr.returns td:first-child { background: #fff !important; }
table.dataset { margin-left: 3em; }
table.dataset th {
	background: #eee;
	text-align: left;
	padding: .2em;
}
table.dataset td {
	vertical-align: top;
	padding: .2em 1em .2em .5em;
}
pre.code {
	padding: 1em;
	font-size: 1em;
	border: 1px dotted #999;
	background: #fff;
	margin-left: 2em;
	overflow: auto;
}
kbd { font: 1em "Courier New", Courier, monospace; }
code, pre.code { font: .9em "Courier New", Courier, monospace; }
pre.code em, code em {
	color: #060;
	font-style: normal;
	font-weight: bold;
}
pre.code kbd, code kbd {
	color: #c00;
	font-weight: normal;
}
pre.code var, code var {
	font-style: normal;
	font-weight: bold;
	color: #f80;
}
pre.code var.prc, code var.prc {
	font-weight: normal;
	color: #f00;
	font-style: italic;
}
pre.code strong, code strong { color: #039; }
pre.code strong.res, code strong.res { color: #800000; }
@media print {
	* {
		background: none !important;
		color: #000 !important;
	}
	p.descr span.sub, div#contents { display: none; }
	div#page { width: 100%; }
	div#page > div:not(:target) { display: block; }
	table.params, pre.code { margin: 0; }
	div.method {
		border: none;
		margin: 1em 0;
		padding: 0;
	}
	pre.code { overflow: visible; }
}
